h1 {
	color: red;
	font-size: 72px;
	text-align: center;
	border-style: dotted;
	border-color: black;
	border-radius: 25px;
	text-decoration: underline;
}

body {
	background-color: #ccffcc;

}

footer {
	text-align: right;


}
